.footer {
    padding: 2rem 20rem;
    background: black;
    text-align: center;
}

.footer h1 {
    font-size: 1.5rem;
    font-weight: 600;
    color: whitesmoke;
}

.githubIcon {
    color: whitesmoke;
    height: 3rem;
    margin-bottom: 1rem;
}


@media (max-width: 768px) {
    .footer {
        padding: 1rem 0;
        text-align: center;
    }

    .githubIcon {
        height: 2rem;
        margin-bottom: 0.8rem;
    }

    .footer h1 {
        font-size: 1.2rem;
    }
}