.introContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    height: 100vh;
}

.logoimage {
    width: 25rem;
    height: 25rem;
    margin-bottom: 5rem;
}

.logo h1 {
    font-size: 4rem;
    line-height: 0.9;
    font-weight: 600;
    position: relative;
}

.blacksmoke {
    position: absolute;
    width: 30rem;
    height: 30rem;
    top: 0;
    left: -60%;
    top: -200%;
    z-index: -1;
}

.scroll {
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: 3rem;
    left: 50%;
    transform: translateX(-50%);
    text-decoration: none;
    gap: 1rem;
}

.scroll img {
    height: 2rem;
}

.logo {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 1.8rem;
    margin-bottom: 5rem;
}

.logo p {
    font-size: 1.2rem;
    color: #464646;
}
