.visionContainer {
    padding: 5rem 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    gap: 2rem;
    height: 38rem;
}

.box {
    height: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 2rem;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 0.2rem 3rem rgba(0, 0, 0, 0.05);
}


.box img {
    height: 5rem;
}

.box:nth-child(2) {
    align-self: flex-end;
}

.box h1 {
    font-size: 1.5rem;
    text-align: center;
    font-weight: 400;
}
